{% extends 'customer_sys/base.html' %}

{% block content %}

<!-- Header Area -->
<div class="row mt-3">
<div class="container text-center">
  <h1>Dashboard</h1>
  <p>Manage your current customers and parties</p>
  <hr>
</div>
</div>

<!-- CUSTOMER TABLE -->

<div class="row mb-4">
<div class="container">
  <div class="row mb-2">
    <h3>Customers</h3>
    <a href="{% url 'newContact' %}" class="btn btn-lg btn btn-outline-primary ml-auto">Add Customer</a>
  </div>
  
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Status</th>
        <th scope="col">Last Contacted</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      {% for contact in contacts %}
      <tr>
        <th scope="row"><a href="{% url 'customerPage' contact.id %}">{{ contact.first_name }} {{ contact.last_name }}</a></th>
        <td>{{ contact.email }}</td>
        <td>{{ contact.status }}</td>
        <td>{{ contact.last_contact }}</td>
        <td><a href="{% url 'customerEdit' contact.id %}">Edit</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <hr>
</div>
</div>

<!-- Party TABLE -->

<div class="row">
<div class="container">
  <div class="row mb-2">
    <h3>Parties</h3>
    <a href="{% url 'newParty' %}" class="btn btn-lg btn-outline-primary ml-auto">Add Party</a>
  </div>
  
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Party #</th>
        <th scope="col">Host</th>
        <th scope="col">Total Sales</th>
        <th scope="col">Start Date</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      {% for party in parties %}
      <tr>
        <th scope="row"><a href="{% url 'partyPage' party.id %}">Party #{{ party.id }}</a></th>
        <td><a href="{% url 'customerPage' party.host.id %}">{{ party.host.first_name }} {{ party.host.last_name }}</a></td>
        <td>${{ party.total }}</td>
        <td>{{ party.start_date|date:"m/d/y"}}</td>
        <td><a href="{% url 'partyEdit' party.id %}">Edit</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
</div>

{% endblock %}